*{
    margin : 0;
    padding : 0;
}
body{
    background-image: url("halo8.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}

/* INDEX */

nav{
    width: 100%;
    height: 37px;
    background-color: salmon;
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
    z-index: 3;
}
.margin-nav{
    width: 100%;
    float: left;
    height: 55px;
    position: relative;
}
nav ul li{
    display: inline;
    position: relative;
    padding: 11px 21px;
    color : papayawhip;
    float: left;
}
.home, .tentang, .kontak{
    background-color: plum;
    border-bottom: 2px solid salmon;
}
li{
    list-style: none;
}
nav ul li:hover{
    background-color: plum;
    border-bottom: 2px solid salmon;
}


.ul-dropdown{
    display: none;
}
.ul-dropdown li{
    display: block;
    color: white;
    width: 99%;
    top: 11px;
    margin-left: -19px;
}
.dropdown:hover li{
    float: none;
    background-color: darksalmon;
}
.dropdown:hover .ul-dropdown{
    display: block;
    position:relative;
}
.ul-dropdown a{
    text-decoration: none;
}
.ul-dropdown li:hover{
    border:none;
}
.gambar img{
    border: 2px solid plum;
    transition: 1s ease-in-out;
    box-shadow:  0 0 10px sandybrown;
}
.gambar{
    animation-name: fotoku;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    width: 201px;
    border-radius: 45%;
}
@keyframes my-photo{
    10%,90%{transform: translate3d(-2px,0,0);}
}
.name{
    padding: 9px;
    width: 145px;
    position: relative;
    animation-name: div-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-bottom: 18px;
}
.name span{
    color: black;
    font-weight:bold;
}
@keyframes div-color{
    100% {background-color:rgba(205,95,81,1);}
}
article{
    margin-top: 19px;
    padding: 19px 0px;
    width: 55%;
    background-color: darksalmon;
    border-radius: 5px;
    border: 3px solid palevioletred;
}
article p, article h2{
    color : black;
}
table{
    text-align: center;
    border-collapse: collapse;
    width: 55%;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: indianred;
    color: black;
}
table tr th{
    height: 29px;
}
table tr td{
    height: 118px;
}
table ul li img{
    width: 10px;
    height:10px;
}
.icon-atas{
    margin-top: 9px;
}
footer{
    width: 100%;
    background-color: lightcoral;
    color: white;
    padding: 10px 0;
    position:fixed;
    bottom:0;
}

/* KONTAK */

.contact-wrapper{
    width: 100%;
    position: relative;
    padding-top: 55px;
    min-height: 1px;
}
.card-body{
    width: 75%;
    padding-top: 19px;
    margin: 0 auto;
    position: relative;
    background-color: tomato;
    border-radius: 6px;
    border: ipx solid pink;
    height: 540px;
}
.contact-center{
    width: 75%;
    margin : 0 auto;
    height:250px;
}
.contact-center textarea{
    width: 100%;
    height: 180px;
    background-color: darksalmon;
    margin-top: 25px;
    float: left;
    margin-bottom: 25px;
}
::placeholder {/* Chrome, firefox, opera */
    color: black;
    opacity: 2;
}
.left-contact{
    float: left;
    width: 45%;
}
.right-contact{
    float:right;
    width: 45%;
}
.contact-center input[type="text"], .contact-center input[type="email"]{
    background-color: salmon;
    width: 90%;
    height: 35px;
    border-radius: 3px;
}
.contact-center input[type="text"]:focus, .contact-center input[type="email"]:focus, tectarea:focus{
    box-shadow: 0 0 7px salmon;
}
.contact-center input[type="submit"]{
    width: 250px;
    height: 55px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: salmon;
    border: 2px solid pink;
    color: black;
}
.contact-center-input[type="submit"]:hover{
    background-color: salmon;
    cursor: pointer;
}

/* TENTANG */
.contact-center p{
    color: black;
    text-align: justify;
}
video{
    width: 55%;
    height: 330px;
}

