<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </title>"layout"</title>

    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <h1> ******ARTIKEL KESEHATAN MENTAL******</h1>
    <div calass="container">
        <div class="menu">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">artikel</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </div>
        <div class="gambar">
            <img src="mental.jpeg" alt="">
        </div>
        <div class="conten">
            <style>
                .text_content{
                    text-indent: 70px;
                }
            </style>
            <h2 align="center">KESEHATAN MENTAL</h2>
            <h2>Mengapa menjaga kesehatan mental penting untuk dilakukan? Ternyata beberapa aspek penting dipengaruhi oleh kondisi kesehatan mental sehingga menjaga agar tetap normal perlu dilakukan.
            </h2>
            <p class="text_content"></p>Kesehatan mental mencakup beberapa hal seperti kenyamanan emosional, psikologi dan hubungan sosial. Ketiga aspek tersebut dapat mempengaruhi cara seseorang berpikir, merasakan dan bertindak. Selain itu juga mempengaruhi cara mengatasi stress, menjalani hubungan dengan orang lain dan membuat keputusan.</p>
            <p class="text_content">Kesehatan mental merupakan hal yang penting mulai dari anak-anak, remaja hingga dewasa.
                Merupakan hal yang sulit untuk membedakan kesehatan mental normal dengan penyakit mental karena tidak ada tes yang mudah untuk menunjukkan ada yang salah. Gangguan kesehatan mental tidak seperti gangguan pada fisik yang dapat langsung diobati berdasarkan tanda dan gejala, tetapi berdasarkan seberapa besar kondisi mempengaruhi kehidupan sehari-hari. Berikut beberapa hal yang dapat terpengaruh:.</p>
            <p class="text_content">#Tingkah laku. Perubahan tingkah laku dapat terjadi seperti konsumsi telalu banyak alcohol.</p>
                               
            <p  class="text_content">#Perasaan. Terkadang kondisi kesehatan mental yang terganggu ditandai dengan timbulnya kesedihan yang mendalam atau berkelanjutan.</p>
            <p class="text_content">#Cara pikir</p>
            <p class="komputer"><b>Kapan Seseorang Butuh Terapi?</b></p>
            <p class="text_content">Setiap kondisi kesehatan mental memiliki tanda dan gejala sendiri. Namun, secara umum bantuan professional mungkin dibutuhkan jika seseorang mengalami:</p>
            <ol>
                <li> Perubahan kepribadian, pola makan atau tidur</li>
                <li> Ketidakmampuan untuk mengatasi masalah atau kegiatan sehari-hari</li>
                <li>Mengalami kecemasan yang berlebihan</li>
                <li>Mengalami depresi atau apatis yang berkepanjangan</li>
                <li>Berpikir atau berbicara tentang bunuh diri</li>
                <li>Penyalahgunaan obat-obatan</li>
                <li>Mengalami perubahan suasana hati yang ekstrim atau kemarahan yang berlebihan atau bahkan melakukan perilaku kekerasan</li>
                <li>Umunya seseorang yang mengalami gangguan kesehatan mental akan menganggap tanda dan gejala yang dialami adalah normal. Selain itu, mereka juga akan merasa malu atau takut saat harus melakukan perawatan.</li>
            </ol>
            <p class="komputer"><b>Bagaimana Mencegah Gangguan Kesehatan Mental?
            </b></p>
            
            <p class="text_content">Stress adalah penyebab yang sering dikaitkan pada seseorang yang mengalami gangguan kesehatan mental. Berikut beberapa langkah yang dapat dilakukan untuk mengatasi stress:</pclass></p>
            <ol>
                <li>Perubahan kepribadian, pola makan atau tidur</li>
                <li>Ketidakmampuan untuk mengatasi masalah atau kegiatan sehari-hari</li>
                <li>Mengalami kecemasan yang berlebihan</li>
                <li>Mengalami depresi atau apatis yang berkepanjangan</li>
                <li>Berpikir atau berbicara tentang bunuh diri</li>
                <li>Penyalahgunaan obat-obatan</li>
                <li>Mengalami perubahan suasana hati yang ekstrim atau kemarahan yang berlebihan atau bahkan melakukan perilaku kekerasan</li>
            </ol>
            <p class="text_content">Umunya seseorang yang mengalami gangguan kesehatan mental akan menganggap tanda dan gejala yang dialami adalah normal. Selain itu, mereka juga akan merasa malu atau takut saat harus melakukan perawatan.

            </p>       
            <p class="komputer"><b>Bagaimana Mencegah Gangguan Kesehatan Mental?</b></p>
            <p class="text_content">Stress adalah penyebab yang sering dikaitkan pada seseorang yang mengalami gangguan kesehatan mental. Berikut beberapa langkah yang dapat dilakukan untuk mengatasi stress:</p>
            <p class="text_content">*)Melakukan Aktifitas Fisik Secara Rutin</p>
            <p class="text_content">Semua bentuk aktifitas fisik dapat berguna sebagai penghilang stress. Aktifitas fisik dapat memompa endorphin dan zat kimia alami lainnya yang dapat meningkatkan rasa nyaman. Olahraga juga dapat membuat membuat seseorang berfokus pada gerakan, meningkatkan suasana hati dan mengurangi perasaaan buruk.</p>
            <p class="text_content">*)Mengkonsumsi Makanan Sehat</p>
            <p class="text_content">Mengkonsumsi makanan sehat merupakan bagian penting dari menjaga diri sendiri. Beberapa jenis makanan yang baik bagi tubuh seperti buah, sayuran dan biji-bijian.
            </p>
            <p class="text_content">*)Hindari Kebiasaan yang Tidak Sehat</p>
            <p class="text_content">Beberapa orang mengatasi stress dengan mengkonsumsi terlalu banyak kafein, alkohol, merokok, atau obat-obatan terlarang. Hal tersebut dapat mempengaruhi kesehatan.
            </p>
            <p class="text_content">*)Meditasi</p>
            <p class="text_content">Saat melakukan meditasi, maka seseorang akan memusatkan perhatian&menenangkan pikiran yang mungkin dapat menyebabkan stress. Meditasi dapat memberikan rasa tenang&damai yang bermanfaat bagi kesejahteraan.
            <p class="text_content">*)Tertawa</p>
            <p class="text_content">Tertawa tidak hanya meringankan beban mental tetapi juga menyebabkan perubahan fisik secara positef pada tubuh.
            </p>
            <p class="text_content">*)Memiliki Orang Terdekat</p>
            <p class="text_content">Ketika seseorang merasa stress maka biasanya akan menutup diri. Namun, sebaiknya menemui teman atau orang terdekat untuk meredakan stress.
            </p>
            <p class="text_content">*)Melakukan Yoga</p>
            <p class="text_content">Yoga merupakan kegiatan penghilang stress yang populer. Gerakan yoga menyatukan fisik dan mental yang dapat membantu seseorang mendapatkan kedamaian.
            </p>
            <p class="text_content">*)Memiliki Tidur yang Cukup</p>
            <p class="text_content">Stress akan menyebabkan seseorang sulit untuk tidur. Namun, tidur adalah waktu ketika otak dan tubuh beristirahat. Kualitas dan jumlah tidur dapat mempengaruhi suasana hati, energi, konsentrasi dan fungsi tubuh secara keseluruhan. Miliki tidur yang berkualitas dengan merilekskan diri sebelum jadwal tidur, mendengarkan musik yang menenangkan dan membuat suasana kamar menjadi nyaman seperti dengan aromaterapi.
            </p>


            <table border='3' align=''>
                <tr>
                    <td>Gangguan Kecemasan</td>
                    <td>Penderita akan merespons benda atau situasi tertentu dengan sangat ketakutan disertai gejala panik seperti detak jantung yang cepat dan berkeringat</td>
                </tr>
                <tr>
                    <td>Gangguan Suasana Hati(Bipolar)</td>
                    <td>Melibatkan perasaan sedih atau perasaan terlalu bahagia atau fluktuasi dari kebahagiaan dan kesedihan ekstrem.</td>
                </tr>
                <tr>
                    <td>Gangguan Psikotik</td>
                    <td>Melibatkan kesadaran pemikiran yang menyimpang</td>
                </tr>
                <tr>
                    <td>Gangguan Makan</td>
                    <td>Diakibatkan emosi ekstrem, sikap, dan perilaku yang melibatkan berat badan dan makanan</td>
                </tr>
                <tr>
                    <td>Gangguan Kontrol Impuls dan Kecanduan</td>
                    <td>Tidak dapat menahan dorongan untuk melakukan tindakan yang dapat membahayakan dirinya sendiri atau orang lain</td>
                </tr>

            </table>
            <p align="center">THANKS YOU </p>
        </div>

        <div class="footer">
            <h4>.....</h4>
        </div>
    </div>
</body>
</html>